
.section-episodios{
    width: 100%;
    height: 1042.6px;
}

.episodios{
    padding-top: 186px ;
    padding-bottom: 26px;
    font-family: 'IBM Plex Sans', sans-serif;
}
.link-episodios{
    color:#FFFFFF;
    font-size: 48px;
    padding-left: 200px;
    text-decoration: none;}
.gradient{
    width: 100%;
    background: linear-gradient(#0000FF,#0000A3 );
    clip-path: polygon(0% 10%, 100% 0%, 100% 90%, 0% 100%);
    height: 1042.6px; }

.cont-spot{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
.cont-spot div{
    width: 48%;
    margin: auto;
    margin:5px;
    
}
.spotify-link{
    width: 584px;
    height: 232px;
    margin: 15px

}
@media screen and (max-width: 1345px){
    .section-episodios{
        width: 100%;
        height: 1042.6px;
    }
    
    .episodios{
        padding-top: 186px ;
        padding-bottom: 26px;
        font-family: 'IBM Plex Sans', sans-serif;
    }
    .link-episodios{
        color:#FFFFFF;
        font-size: 48px;
        padding-left: 200px;
        text-decoration: none;}
    .gradient{
        width: 100%;
        background: linear-gradient(#0000FF,#0000A3 );
        clip-path: polygon(0% 10%, 100% 0%, 100% 90%, 0% 100%);
        height: 1042.6px; }
    
    .cont-spot{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
    }
    .spotify-link{
        width: 530px;
        height: 232px;
        margin: 15px
    }
  
}
@media screen and (max-width: 1230px){
    .section-episodios{
        width: 100%;
        height: 1042.6px;
    }
    
    .episodios{
        padding-top: 186px ;
        padding-bottom: 26px;
        font-family: 'IBM Plex Sans', sans-serif;
    }
    .link-episodios{
        color:#FFFFFF;
        font-size: 48px;
        padding-left: 200px;
        text-decoration: none;}
    .gradient{
        width: 100%;
        background: linear-gradient(#0000FF,#0000A3 );
        clip-path: polygon(0% 10%, 100% 0%, 100% 90%, 0% 100%);
        height: 1042.6px; }
    
    .cont-spot{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
     
    }
    .spotify-link{
        width: 470px;
        height: 232px;
        margin: 15px
    
    }
  
}
 @media screen and (max-width: 1015px){
    .section-episodios{
        width: 100%;
        height: 1500.6px;

    }
    .gradient{
        width: 100%;
        background: linear-gradient(#0000FF,#0000A3 );
        clip-path: polygon(0% 10%, 100% 0%, 100% 90%, 0% 100%);
        height: 1500.6px; }
    .cont-spot{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        align-items: center;
        
    }
    .cont-spot div{
        width: 80%;
        margin: auto;
        justify-content: center;
        align-items: center;
        
    }
    .spotify-link{
        width: 80%;
        margin: auto;
        height: 232px;
        margin: 15px;
        justify-content: center;
    
    }
   
 }
 @media screen and (max-width: 501px){
    .section-episodios{
        width: 100%;
        height: 1500.6px;

    }
    .gradient{
        width: 100%;
        background: linear-gradient(#0000FF,#0000A3 );
        clip-path: polygon(0% 10%, 100% 0%, 100% 90%, 0% 100%);
        height: 1500.6px; }

    .link-episodios{
        color:#FFFFFF;
        font-size: 48px;
        padding-left: 50px;
        text-decoration: none;
    }
    .cont-spot{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        align-items: center;
        
    }
    .cont-spot div{
        width: 80%;
        margin: auto;
        justify-content: center;
        
    }
    .spotify-link{
        width: 80%;
        margin: auto;
        height: 232px;
        margin: 15px;
        padding-left: 20px;
        justify-content: center;
    
    }

 }
 @media screen and (max-width: 415px){
    .section-episodios{
        width: 100%;
        height: 1500.6px;

    }
    .gradient{
        width: 100%;
        background: linear-gradient(#0000FF,#0000A3 );
        clip-path: polygon(0% 10%, 100% 0%, 100% 90%, 0% 100%);
        height: 1500.6px; }

    .link-episodios{
        color:#FFFFFF;
        font-size: 48px;
        padding-left: 50px;
        text-decoration: none;
    }
    .cont-spot{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        align-items: center;
        
    }
    .cont-spot div{
        width: 80%;
        margin: auto;
        justify-content: center;
        
    }
    .spotify-link{
        width: 80%;
        margin: auto;
        height: 232px;
        margin: 15px 15px 15px -10px;
        justify-content: center;
    
    }

 }
 @media screen and (max-width: 395px){
    .section-episodios{
        width: 100%;
        height: 1200.6px;

    }
    .gradient{
        width: 100%;
        background: linear-gradient(#0000FF,#0000A3 );
        clip-path: polygon(0% 10%, 100% 0%, 100% 90%, 0% 100%);
        height: 1200.6px; }

    .link-episodios{
        color:#FFFFFF;
        font-size: 48px;
        padding-left: 50px;
        text-decoration: none;
    }
    .cont-spot{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        align-items: center;
        
    }
    .cont-spot div{
        width: 100%;
        margin: auto;
        justify-content: center;
        
    }
    .spotify-link{
        width: 80%;
        margin: auto;
        height: 100%;
        margin: 15px;
        padding-left: 5px;
        justify-content: center;
    
    }

 }



