* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.boton-menu {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lbl-menu {
  width: 50px;
  height: 30px;
  position: relative;
  cursor: pointer;
  display: none;
}

.lbl-menu #spn1, #spn2, #spn3 {
  position: absolute;
  content: '';
  background: #020202;
  width: 50px;
  height: 5px;
  border-radius: 5px;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

#spn2 {
  top: 11px;
}

#spn3 {
  top: 22px;
}

#btn-menu {
  display: none;
}

#btn-menu:checked ~ .lbl-menu #spn1 {
  -webkit-transform: rotate(148deg);
          transform: rotate(148deg);
  top: 10px;
}

#btn-menu:checked ~ .lbl-menu #spn2 {
  opacity: 0;
}

#btn-menu:checked ~ .lbl-menu #spn3 {
  -webkit-transform: rotate(-148deg);
          transform: rotate(-148deg);
  top: 10px;
}

.cont-li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 100px;
  list-style: none;
}

.link-menu {
  text-decoration: none;
  color: #060a24;
  padding: 26px 48px;
}

.link-menu:hover {
  font-size: 16px;
  color: #00F3BB;
  letter-spacing: 0;
  line-height: 28px;
  text-decoration: line-through;
}

.link-menu:active {
  font-size: 16px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 28px;
  text-decoration: line-through;
}

.imagen-logo {
  padding-left: 150px;
  padding-top: 50px;
}

.nav-menu {
  padding-top: 50px;
  font-family: 'IBM Plex Mono', monospace;
}

@media screen and (max-width: 801px) {
  header {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .cont-li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
  }
  .link-menu {
    text-decoration: none;
    color: #060a24;
    padding-left: 10px;
    font-size: 16px;
  }
  .link-menu:hover {
    font-size: 16px;
    color: #00F3BB;
    letter-spacing: 0;
    line-height: 28px;
    text-decoration: line-through;
  }
  .imagen-logo {
    padding-left: 16px;
    padding-top: 50px;
  }
  .nav-menu {
    padding-top: 50px;
    width: 50%;
    margin-right: 200px;
  }
}

@media screen and (max-width: 769px) {
  header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .cont-li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
  }
  .link-menu {
    text-decoration: none;
    color: #060a24;
    padding-left: 10px;
    font-size: 16px;
  }
  .link-menu:hover {
    font-size: 16px;
    color: #00F3BB;
    letter-spacing: 0;
    line-height: 28px;
    text-decoration: line-through;
  }
  .imagen-logo {
    padding-left: 16px;
    padding-top: 50px;
  }
  .nav-menu {
    padding-top: 50px;
    width: 50%;
    margin-right: 200px;
  }
}

@media screen and (max-width: 640px) {
  header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .cont-li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
  }
  .link-menu {
    text-decoration: none;
    color: #060a24;
    padding-left: 10px;
    font-size: 16px;
  }
  .link-menu:hover {
    font-size: 16px;
    color: #00F3BB;
    letter-spacing: 0;
    line-height: 28px;
    text-decoration: line-through;
  }
  .imagen-logo {
    padding-left: 16px;
    padding-top: 50px;
  }
  .nav-menu {
    padding-top: 50px;
    width: 50%;
    margin-right: 200px;
  }
}

@media screen and (max-width: 501px) {
  header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .imagen-logo {
    padding-left: 16px;
    position: relative;
    margin-top: -80px;
  }
  .lbl-menu {
    display: block;
    margin: 20px -5px 50px 0px;
  }
  .lbl-menu #spn1, #spn2, #spn3 {
    position: absolute;
    content: '';
    background: #020202;
    width: 18px;
    height: 3px;
    border-radius: 5px;
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
  }
  .nav-menu {
    position: absolute;
    margin-top: 200px;
    width: 100%;
    background: #0000EC 100%;
    margin-left: -150%;
  }
  #spn2 {
    top: 5px;
  }
  #spn3 {
    top: 10px;
  }
  .cont-li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-right: 10px;
    margin-top: -20px;
  }
  .link-menu {
    color: white;
    margin-top: -30px;
    text-align: start;
  }
  #btn-menu:checked ~ .nav-menu {
    margin-left: 0;
  }
  .li-menu {
    margin-bottom: 20px;
  }
}

/* header{ 
    width: 100%;
    height: 80px;
    padding-right: 100px;
    display:flex;
    justify-content:space-between;
    align-items: center;}

.imagen-logo{
    padding-left: 100px;
}
 
.cont-li{ 
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.link-menu{
    padding:0px 48px;
    color: black;
    font-size: 16px;
}
.link-menu:hover{
    text-decoration: line-through;
    color: #00F3BB ;
}
.link-menu:active{
    text-decoration: line-through;
    color:#060A24;
    opacity: 56%;
}
 @media screen and (max-width: 768px){
    header{ width:100%;
        height: 80px;
        display: flex;
        justify-content:space-between;
        align-items: center;}
    .nav{
        padding-right: 20px;
    }
    .link-menu{
        padding:0px 10px;
        color: black;
    }
    .img-logo{ padding-left:50px
    
    }
 } */
.cont-texto {
  padding-left: 200px;
  text-align: justify;
  font-family: 'IBM Plex Sans', sans-serif;
  width: 100%;
}

.h1 {
  font-size: 64px;
}

.world {
  text-decoration: line-through;
}

.dot {
  color: #0000EC;
}

.cont-texto {
  padding-left: 200px;
  text-align: justify;
  padding-top: 50px;
}

.cont-titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.txt {
  width: 628px;
  text-align: justify;
  line-height: 24px;
  letter-spacing: 2px;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #00F3BB;
  width: 226px;
  height: 56px;
  font-size: 18px;
  font-family: 'IBM Plex Mono', monospace;
  margin-top: 56px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.button:hover {
  background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
  color: white;
}

.link-button {
  color: black;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (max-width: 1001px) {
  .h1 {
    font-size: 64px;
  }
  .world {
    text-decoration: line-through;
  }
  .dot {
    color: #0000EC;
  }
  .cont-texto {
    padding-left: 100px;
    text-align: justify;
  }
  .cont-titulo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .txt {
    width: 628px;
    text-align: justify;
    line-height: 24px;
    letter-spacing: 2px;
  }
  .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #00F3BB;
    width: 226px;
    height: 56px;
    font-size: 18px;
    margin-top: 56px;
    -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
  }
  .button:hover {
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    color: white;
  }
  .link-button {
    color: black;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media screen and (max-width: 850px) {
  .h1 {
    font-size: 64px;
  }
  .world {
    text-decoration: line-through;
  }
  .dot {
    color: #0000EC;
  }
  .cont-texto {
    padding-left: 100px;
    text-align: justify;
  }
  .cont-titulo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .txt {
    width: 70%;
    text-align: justify;
    line-height: 24px;
    letter-spacing: 2px;
    margin-top: 10px;
  }
  .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #00F3BB;
    width: 226px;
    height: 56px;
    font-size: 18px;
    margin-top: 56px;
    -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
  }
  .button:hover {
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    color: white;
  }
  .link-button {
    color: black;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media screen and (max-width: 801px) {
  .h1 {
    font-size: 64px;
  }
  .world {
    text-decoration: line-through;
  }
  .dot {
    color: #0000EC;
  }
  .cont-texto {
    padding-left: 100px;
    text-align: justify;
  }
  .cont-titulo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .txt {
    width: 70%;
    text-align: justify;
    line-height: 24px;
    letter-spacing: 2px;
    margin-top: 10px;
  }
  .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #00F3BB;
    width: 226px;
    height: 56px;
    font-size: 18px;
    margin-top: 56px;
    -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
  }
  .button:hover {
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    color: white;
  }
  .link-button {
    color: black;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media screen and (max-width: 769px) {
  .h1 {
    font-size: 64px;
  }
  .world {
    text-decoration: line-through;
  }
  .dot {
    color: #0000EC;
  }
  .cont-texto {
    padding-left: 100px;
    text-align: justify;
  }
  .cont-titulo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .txt {
    width: 70%;
    text-align: justify;
    line-height: 24px;
    letter-spacing: 2px;
    margin-top: 10px;
  }
  .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #00F3BB;
    width: 226px;
    height: 56px;
    font-size: 18px;
    margin-top: 56px;
    -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
  }
  .button:hover {
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    color: white;
  }
  .link-button {
    color: black;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media screen and (max-width: 501px) {
  .h1 {
    font-size: 36px;
  }
  .world {
    text-decoration: line-through;
  }
  .dot {
    color: #0000EC;
  }
  .cont-texto {
    padding-left: 20px;
    text-align: justify;
    margin-top: -50px;
  }
  .cont-titulo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .txt {
    width: 70%;
    text-align: justify;
    line-height: 24px;
    letter-spacing: 2px;
    margin-top: 10px;
  }
  .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #00F3BB;
    width: 95%;
    height: 48px;
    font-size: 16px;
    margin-top: 36px;
    margin-bottom: 20px;
    -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
  }
  .button:hover {
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    color: white;
  }
  .link-button {
    color: black;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.section-episodios {
  width: 100%;
  height: 1042.6px;
  background: -webkit-gradient(linear, left top, left bottom, from(#0000FF), to(#0000A3));
  background: linear-gradient(#0000FF, #0000A3);
  -webkit-clip-path: polygon(0% 10%, 100% 0%, 100% 90%, 0% 100%);
          clip-path: polygon(0% 10%, 100% 0%, 100% 90%, 0% 100%);
}

.episodios {
  padding-top: 186px;
  padding-bottom: 26px;
  font-family: 'IBM Plex Sans', sans-serif;
}

.link-episodios {
  color: #FFFFFF;
  font-size: 48px;
  padding-left: 200px;
  text-decoration: none;
  margin: auto;
}

.cont-spot {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.cont-spot div {
  width: 48%;
  margin: auto;
  margin: 5px;
}

.spotify-link {
  width: 584px;
  height: 232px;
  margin: 15px;
  background-color: transparent;
  border: white;
}

@media screen and (max-width: 1345px) {
  .section-episodios {
    width: 100%;
    height: 1042.6px;
  }
  .episodios {
    padding-top: 186px;
    padding-bottom: 26px;
    font-family: 'IBM Plex Sans', sans-serif;
  }
  .link-episodios {
    color: #FFFFFF;
    font-size: 48px;
    padding-left: 200px;
    text-decoration: none;
  }
  .cont-spot {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
  }
  .spotify-link {
    width: 530px;
    height: 232px;
    margin: 15px;
    background-color: transparent;
    border: white;
  }
}

@media screen and (max-width: 1230px) {
  .section-episodios {
    width: 100%;
    height: 1042.6px;
  }
  .episodios {
    padding-top: 186px;
    padding-bottom: 26px;
    font-family: 'IBM Plex Sans', sans-serif;
  }
  .link-episodios {
    color: #FFFFFF;
    font-size: 48px;
    padding-left: 200px;
    text-decoration: none;
  }
  .cont-spot {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
  }
  .spotify-link {
    width: 470px;
    height: 232px;
    margin: 15px;
    background-color: transparent;
    border: white;
  }
}

@media screen and (max-width: 1015px) {
  .section-episodios {
    width: 100%;
    height: 1500.6px;
  }
  .cont-spot {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cont-spot div {
    width: 80%;
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .spotify-link {
    width: 80%;
    margin: auto;
    height: 232px;
    margin: 15px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: transparent;
    border: white;
  }
}

@media screen and (max-width: 501px) {
  .section-episodios {
    width: 100%;
    height: 1500.6px;
  }
  .link-episodios {
    color: #FFFFFF;
    font-size: 48px;
    padding-left: 50px;
    text-decoration: none;
  }
  .cont-spot {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cont-spot div {
    width: 80%;
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .spotify-link {
    width: 80%;
    margin: auto;
    height: 232px;
    margin: 15px;
    padding-left: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: transparent;
    border: white;
  }
}

@media screen and (max-width: 415px) {
  .section-episodios {
    width: 100%;
    height: 1500.6px;
  }
  .link-episodios {
    color: #FFFFFF;
    font-size: 48px;
    padding-left: 50px;
    text-decoration: none;
  }
  .cont-spot {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cont-spot div {
    width: 80%;
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .spotify-link {
    width: 80%;
    margin: auto;
    height: 232px;
    margin: 15px 15px 15px -10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: transparent;
    border: white;
  }
}

@media screen and (max-width: 395px) {
  .section-episodios {
    width: 100%;
    height: 1200.6px;
  }
  .link-episodios {
    color: #FFFFFF;
    font-size: 48px;
    padding-left: 50px;
    text-decoration: none;
  }
  .cont-spot {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cont-spot div {
    width: 100%;
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .spotify-link {
    width: 80%;
    margin: auto;
    height: 100%;
    margin: 15px;
    padding-left: 5px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: transparent;
    border: white;
  }
}

.nosotros {
  height: 555.4px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.h2_de_donde_venimos {
  font-size: 48px;
  padding-top: 20.4px;
  margin-left: 300px;
  margin-bottom: 24px;
  font-family: 'IBM Plex Sans', sans-serif;
}

.p-texto {
  font-size: 16px;
  width: 464px;
  height: 204px;
  margin-left: 300px;
  font-family: 'IBM Plex Mono', monospace;
}

.phone {
  position: relative;
  margin-top: -200px;
  padding-left: 200px;
}

@media screen and (max-width: 1441px) {
  .nosotros {
    height: 555.4px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .h2_de_donde_venimos {
    font-size: 48px;
    padding-top: 20.4px;
    margin-left: 100px;
    margin-bottom: 24px;
  }
  .p-texto {
    font-size: 16px;
    width: 464px;
    height: 204px;
    margin-left: 100px;
  }
  .phone {
    position: relative;
    margin-top: -200px;
    padding-left: 200px;
  }
}

@media screen and (max-width: 1214px) {
  .nosotros {
    height: 555.4px;
    width: 100%;
  }
  .h2_de_donde_venimos {
    font-size: 36px;
    padding-top: 20.4px;
    margin-left: 50px;
    margin-bottom: 24px;
  }
  .texto {
    width: 464px;
    height: 204px;
  }
  .p-texto {
    font-size: 16px;
    width: 300px;
    height: 204px;
    margin-left: 50px;
  }
  .phone {
    position: relative;
    margin-top: -100px;
    padding-left: 100px;
    width: 500px;
    height: 659px;
  }
}

@media screen and (max-width: 884px) {
  .nosotros {
    height: 555.4px;
    width: 100%;
  }
  .h2_de_donde_venimos {
    font-size: 36px;
    padding-top: 20.4px;
    margin-left: 30px;
    margin-bottom: 24px;
    font-family: 'IBM Plex Sans', sans-serif;
  }
  .texto {
    width: 464px;
    height: 204px;
  }
  .p-texto {
    font-size: 16px;
    width: 300px;
    height: 204px;
    margin-left: 30px;
    font-family: 'IBM Plex Mono', monospace;
  }
  .phone {
    position: relative;
    margin-top: -150px;
    padding-left: 100px;
  }
}

@media screen and (max-width: 801px) {
  .nosotros {
    height: 555.4px;
    width: 100%;
  }
  .h2_de_donde_venimos {
    font-size: 36px;
    padding-top: 20.4px;
    margin-left: 5px;
    margin-bottom: 24px;
  }
  .texto {
    width: 464px;
    height: 204px;
  }
  .p-texto {
    font-size: 16px;
    width: 300px;
    height: 204px;
    margin-left: 5px;
  }
  .phone {
    position: relative;
    margin-top: -150px;
    padding-left: 10px;
    width: 50%;
  }
}

@media screen and (max-width: 769px) {
  .nosotros {
    height: 555.4px;
    width: 100%;
  }
  .h2_de_donde_venimos {
    font-size: 36px;
    padding-top: 20.4px;
    margin-left: 5px;
    margin-bottom: 24px;
  }
  .texto {
    width: 464px;
    height: 204px;
  }
  .p-texto {
    font-size: 16px;
    width: 300px;
    height: 204px;
    margin-left: 5px;
  }
  .phone {
    position: relative;
    margin-top: -150px;
    padding-left: 10px;
    width: 50%;
  }
}

@media screen and (max-width: 691px) {
  .nosotros {
    height: 900px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .h2_de_donde_venimos {
    font-size: 36px;
    padding-top: 20.4px;
    margin-left: 100px;
  }
  .nosotros-texto {
    width: 100%;
    height: 204px;
    font-size: 14px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px;
    margin-left: 100px;
  }
  .p-texto {
    font-size: 16px;
    width: 300px;
    height: 204px;
    margin-left: 30px;
  }
  .phone {
    position: relative;
    margin-top: -100px;
    padding-left: 5px;
    width: 360px;
    height: 519px;
  }
}

@media screen and (max-width: 501px) {
  .nosotros {
    height: 1200px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .h2_de_donde_venimos {
    font-size: 36px;
    padding-top: 20.4px;
    margin-left: 30px;
  }
  .texto {
    width: 464px;
    height: 204px;
    font-size: 14px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px;
  }
  .p-texto {
    font-size: 16px;
    width: 80%;
    height: 204px;
    margin-left: 30px;
  }
  .phone {
    position: relative;
    margin-top: -150px;
    padding-right: 30px;
    width: 360px;
    height: 519px;
  }
}

@media screen and (max-width: 490px) {
  .nosotros {
    height: 900px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .h2_de_donde_venimos {
    font-size: 36px;
    padding-top: 20.4px;
    margin-left: 30px;
  }
  .texto {
    width: 464px;
    height: 204px;
    font-size: 14px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px;
  }
  .p-texto {
    font-size: 16px;
    width: 80%;
    height: 204px;
    margin-left: 30px;
  }
  .phone {
    position: relative;
    margin-top: -150px;
    padding-right: 50px;
    width: 360px;
    height: 519px;
  }
}

@media screen and (max-width: 460px) {
  .nosotros {
    height: 900px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .h2_de_donde_venimos {
    font-size: 36px;
    padding-top: 20.4px;
    margin-left: 30px;
  }
  .texto {
    width: 464px;
    height: 204px;
    font-size: 14px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px;
  }
  .p-texto {
    font-size: 16px;
    width: 80%;
    height: 204px;
    margin-left: 30px;
  }
  .phone {
    position: relative;
    margin-top: -150px;
    padding-right: 50px;
    width: 360px;
    height: 519px;
  }
}

@media screen and (max-width: 415px) {
  .nosotros {
    height: 900px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .h2_de_donde_venimos {
    font-size: 36px;
    padding-top: 20.4px;
    margin-left: 30px;
  }
  .texto {
    width: 464px;
    height: 204px;
    font-size: 14px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px;
  }
  .p-texto {
    font-size: 16px;
    width: 80%;
    height: 204px;
    margin-left: 30px;
  }
  .phone {
    position: relative;
    margin-top: -150px;
    padding-right: 50px;
    width: 360px;
    height: 519px;
  }
}

@media screen and (max-width: 395px) {
  .nosotros {
    height: 900px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .h2_de_donde_venimos {
    font-size: 36px;
    padding-top: 20.4px;
    margin-left: 30px;
  }
  .texto {
    width: 464px;
    height: 204px;
    font-size: 14px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px;
  }
  .p-texto {
    font-size: 16px;
    width: 80%;
    height: 204px;
    margin-left: 30px;
  }
  .phone {
    position: relative;
    margin-top: -150px;
    padding-right: 50px;
    width: 360px;
    height: 519px;
  }
}

.invitados {
  height: 826px;
  width: 100%;
}

.cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cont-img {
  width: 100%;
  height: 364px;
}

.img {
  width: 100%;
  height: 364px;
}

.h2_inv_estelares {
  font-size: 48px;
  color: #060A24;
  padding-left: 200px;
  padding-bottom: 36px;
  font-family: 'IBM Plex Sans', sans-serif;
}

@media screen and (max-width: 320px) {
  .invitados {
    height: 2000px;
    width: 100%;
  }
  .cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .img {
    width: 100%;
    height: 243px;
  }
  .cont-img {
    width: 100%;
    height: 243px;
  }
  .h2_inv_estelares {
    font-size: 36px;
    color: #060A24;
    padding-left: 20px;
    padding-bottom: 14px;
    line-height: 42px;
  }
}

@media screen and (max-width: 500px) {
  .invitados {
    height: 1603px;
    width: 100%;
  }
  .cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .img {
    width: 100%;
    height: 243px;
  }
  .cont-img {
    width: 100%;
    height: 243px;
  }
  .h2_inv_estelares {
    font-size: 36px;
    color: #060A24;
    padding-left: 20px;
    padding-bottom: 14px;
    line-height: 42px;
  }
}

@media screen and (max-width: 632px) {
  .invitados {
    height: 1603px;
    width: 100%;
  }
  .cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .img {
    width: 100%;
    height: 243px;
  }
  .cont-img {
    width: 100%;
    height: 243px;
  }
  .h2_inv_estelares {
    font-size: 36px;
    color: #060A24;
    padding-left: 20px;
    padding-bottom: 14px;
    line-height: 42px;
  }
}

@media screen and (max-width: 700px) {
  .invitados {
    height: 1603px;
    width: 100%;
  }
  .cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .img {
    width: 100%;
    height: 243px;
  }
  .cont-img {
    width: 100%;
    height: 243px;
  }
  .h2_inv_estelares {
    font-size: 36px;
    color: #060A24;
    padding-left: 20px;
    padding-bottom: 14px;
    line-height: 42px;
  }
}

.temas {
  width: 100vw;
}

.cont-itemas {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.h2_temas {
  font-size: 48px;
  color: #060A24;
  letter-spacing: 0;
  padding: 64px 0px 36px 200px;
  font-family: 'IBM Plex Sans', sans-serif;
}

.nav-temas {
  width: 80%;
  margin: auto;
}

.li-temas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  padding-top: 30px;
}

.img-temas {
  width: 104px;
  height: 104px;
  padding-bottom: 10px;
}

.link-temas {
  color: black;
  text-align: justify;
  width: 220px;
  padding-left: 15px;
  font-family: 'IBM Plex Sans', sans-serif;
}

@media screen and (max-width: 801px) {
  .cont-itemas {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    padding-left: 100px;
  }
  .h2_temas {
    font-size: 48px;
    color: #060A24;
    letter-spacing: 0;
    padding: 64px 0px 36px 100px;
  }
}

@media screen and (max-width: 769px) {
  .cont-itemas {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    padding-left: 100px;
  }
  .h2_temas {
    font-size: 48px;
    color: #060A24;
    letter-spacing: 0;
    padding: 64px 0px 36px 100px;
  }
}

@media screen and (max-width: 701px) {
  .temas {
    width: 100%;
    height: 500px;
    margin-top: -1000px;
  }
  .cont-itemas {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    padding-left: 100px;
  }
  .h2_temas {
    font-size: 48px;
    color: #060A24;
    letter-spacing: 0;
    padding: 20px 0px 36px 100px;
  }
}

@media screen and (max-width: 645px) {
  .temas {
    width: 100%;
    height: 500px;
    margin-top: -1000px;
  }
  .cont-itemas {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    padding-left: 100px;
  }
  .h2_temas {
    font-size: 48px;
    color: #060A24;
    letter-spacing: 0;
    padding: 20px 0px 36px 100px;
  }
}

@media screen and (max-width: 501px) {
  .temas {
    width: 100%;
    height: 900px;
    margin-top: -50px;
  }
  .cont-itemas {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 20% 40% 20%;
        grid-template-columns: 20% 40% 20%;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .nav-temas {
    width: 80%;
    margin: auto;
  }
  .li-temas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    padding-top: 30px;
  }
  .img-temas {
    width: 104px;
    height: 104px;
    padding-bottom: 10px;
  }
  .link-temas {
    color: black;
    text-align: justify;
    width: 220px;
    padding-left: 15px;
  }
  .tema1 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .tema2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .tema3 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .tema4 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .h2_temas {
    font-size: 36px;
    color: #060A24;
    letter-spacing: 0;
    padding: 64px 0px 36px 10px;
    width: 288px;
    margin: auto;
  }
}

@media screen and (max-width: 415px) {
  .cont-itemas {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 10% 80% 10%;
        grid-template-columns: 10% 80% 10%;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .nav-temas {
    width: 80%;
    margin: auto;
  }
  .li-temas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    padding-top: 30px;
  }
  .img-temas {
    width: 104px;
    height: 104px;
    padding-bottom: 10px;
  }
  .link-temas {
    color: black;
    text-align: justify;
    width: 220px;
    padding-left: 15px;
  }
  .tema1 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .tema2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .tema3 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .tema4 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .h2_temas {
    font-size: 36px;
    color: #060A24;
    letter-spacing: 0;
    padding: 64px 0px 36px 40px;
    width: 288px;
  }
}

@media screen and (max-width: 361px) {
  .cont-itemas {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .nav-temas {
    width: 80%;
    padding-right: 80px;
  }
  .li-temas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    padding-top: 30px;
  }
  .img-temas {
    width: 104px;
    height: 104px;
    padding-bottom: 10px;
  }
  .link-temas {
    color: black;
    text-align: justify;
    width: 220px;
    padding-left: 15px;
  }
  .tema1 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .tema2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .tema3 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .tema4 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .h2_temas {
    font-size: 36px;
    color: #060A24;
    letter-spacing: 0;
    padding: 30px 0px 36px 30px;
    width: 288px;
  }
}

@media screen and (max-width: 321px) {
  .cont-itemas {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .nav-temas {
    width: 80%;
    padding-right: 500px;
  }
  .li-temas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    padding-top: 30px;
    margin-right: 300px;
  }
  .img-temas {
    width: 104px;
    height: 104px;
    padding-bottom: 10px;
  }
  .link-temas {
    color: black;
    text-align: justify;
    width: 220px;
    padding-left: 15px;
  }
  .tema1 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .tema2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .tema3 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .tema4 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .h2_temas {
    font-size: 36px;
    color: #060A24;
    letter-spacing: 0;
    padding: 30px 0px 36px 40px;
    width: 100%;
  }
}

.aside {
  height: 518px;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#0000FF), to(#0000A3));
  background: linear-gradient(#0000FF, #0000A3);
  -webkit-clip-path: polygon(0% 30%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 30%, 100% 0%, 100% 100%, 0% 100%);
}

.gradiente {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 518px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.h2-aside {
  color: white;
  font-size: 48px;
  padding-bottom: 36px;
  font-family: 'IBM Plex Sans', sans-serif;
}

.link-button2 {
  color: black;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-decoration: none;
  font-family: 'IBM Plex Mono', monospace;
}

.button2 {
  background-color: #00F3BB;
  width: 345px;
  height: 56px;
  font-size: 18px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button2:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#0000FE), to(#00F0B8));
  background: linear-gradient(#0000FE, #00F0B8);
  color: white;
}

@media screen and (max-width: 700px) {
  .h2-aside {
    color: white;
    font-size: 36px;
    text-align: center;
    line-height: 42px;
    padding-bottom: 36px;
    width: 80%;
    margin: auto;
  }
  .aside {
    height: 341px;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#0000FF), to(#0000A3));
    background: linear-gradient(#0000FF, #0000A3);
    -webkit-clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);
    margin-top: 50px;
  }
  .gradiente {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 341px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .button2 {
    background-color: #00F3BB;
    width: 288px;
    height: 48px;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 501px) {
  .h2-aside {
    color: white;
    font-size: 36px;
    text-align: center;
    line-height: 42px;
    padding-bottom: 36px;
    width: 80%;
    margin: auto;
  }
  .aside {
    height: 341px;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#0000FF), to(#0000A3));
    background: linear-gradient(#0000FF, #0000A3);
    -webkit-clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);
    margin-top: 50px;
  }
  .gradiente {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 341px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .button2 {
    background-color: #00F3BB;
    width: 288px;
    height: 48px;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 414px) {
  .h2-aside {
    color: white;
    font-size: 36px;
    text-align: center;
    line-height: 42px;
    padding-bottom: 36px;
    width: 80%;
    margin: auto;
  }
  .aside {
    height: 341px;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#0000FF), to(#0000A3));
    background: linear-gradient(#0000FF, #0000A3);
    -webkit-clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);
    margin-top: 50px;
  }
  .gradiente {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 341px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .button2 {
    background-color: #00F3BB;
    width: 288px;
    height: 48px;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 320px) {
  .h2-aside {
    color: white;
    font-size: 36px;
    text-align: center;
    line-height: 42px;
    padding-bottom: 36px;
    width: 80%;
    margin: auto;
  }
  .aside {
    height: 341px;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#0000FF), to(#0000A3));
    background: linear-gradient(#0000FF, #0000A3);
    -webkit-clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);
    margin-top: 50px;
  }
  .gradiente {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 341px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .button2 {
    background-color: #00F3BB;
    width: 288px;
    height: 48px;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer {
  width: 100%;
  height: 95px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
}

.icono-footer {
  width: 18px;
  height: 28px;
  margin-left: 20px;
}

@media screen and (max-width: 321px) {
  .footer {
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cont-iconos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .icono-footer {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 18px;
    height: 28px;
    margin-left: 3px;
    padding-left: 10px;
  }
  .cont-p-footer {
    width: 227px;
    margin-left: 40px;
  }
}

@media screen and (max-width: 501px) {
  .footer {
    width: 100%;
    height: 121px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cont-iconos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .icono-footer {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-bottom: 32px;
    width: 16px;
    height: 28px;
    margin-right: 40px;
  }
  .cont-p-footer {
    width: 227px;
    padding-top: 30px;
  }
}

html {
  scroll-behavior: smooth;
}
/*# sourceMappingURL=style.css.map */