*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

@import "./header";
@import "./titulo";
@import "./episodios";
@import "./nosotros";
@import "./invitados";
@import "./temas";
@import "./aside";
@import "./footer";

html {
    scroll-behavior: smooth;
}

  